.toolboxToolbar {
  display: block;
  width: 100%;
  height: 35px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.toolbarSeparator {
  border-left: 1px solid #e0e0e0;
  margin: 0 3px;
  width: 0;
  height: 35px;
  user-select: none;
}

/* TODO ... */
/*toolbar-menu-button#font {
  --caption-with: 70px;
}
toolbar-menu-button#font-size {
  --caption-with: 45px;
}*/