.toolboxHeader {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
}

.icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 110px;
  height: 60px;
  background-color: #4285f4;

  font-family: Impact;
  font-size: 18px;
  color: white;
  text-align: center;
  line-height: 60px;
  letter-spacing: 0.5px;
  z-index: 11;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  height: 100%;
}

.userList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  height: 100%;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 5px;
  border: 1px solid #f0f0f0;
}

.userList.excess .avatarWrapper{
  margin-right: -20px;
}
.userList.excess .avatarWrapper:last-of-type {
  margin-right: 0px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: #e0e0e0;
  color: white;
  line-height: 36px;
  text-align: center;
}

.invitation {
  width: 20px;
  height: 20px;
  background-size: 16px 12px;
  background-image: url(../images/addclient.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;
  opacity: 0.6;
  transition: opacity 200ms;
}
.invitation:hover  {
  opacity: 1;
}
